<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Lightning on Heroku</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" >
			<div class="jumbotron" id="login">
				<h1>Lightning Out + Wave on Heroku</h1>
				<p>Dashboard Id<br />
				<input type="text" name="idDashboard" id="idDashboard" value="" size="40" />
				<button class="btn btn-primary btn-lg" onclick="forceLogin()">
					View Dashboard
				</button>
			</div>
			<div id="chatterFeed" style="height: 500px;"/>
		</div>
		<script>
			var config = {
				appId: "<%= appId %>",
				loApp: "<%= loApp %>"
			};
		</script>
		<script src="./javascripts/force.oauth.js"></script>
		<script src="./javascripts/app.js"></script>
		<script src="https://jcarrion-wavebadge.my.salesforce.com/lightning/lightning.out.js"></script>
	</body>
</html>